.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem var(--horizontal-padding-layout);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: var(--white-color);
    border-bottom: 1px solid var(--grey-color);
    z-index: 1000;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.navLinks {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.navLinks li a {
    font-family: "Helvetica medium", sans-serif;
    font-size: var(--font-size-medium);
    letter-spacing: var(--letter-spacing);

    &:hover,
    &:focus {
        color: var(--white-color);
        transition: background-color 0.3s ease-in-out;
        background-color: var(--black-color);
    }
    &:active {
        transform: scale(0.95);
    }
}

.fullLogo {
    width: 60px;
}

@media (max-width: 768px) {
    .navLinks {
        display: none;
    }
}
