.approachSection {
    background-color: var(--accent-color);
    padding-top: calc(var(--vertical-space-section) * 1.2);
    padding-inline: var(--horizontal-padding-layout);
    display: flex;
    flex-direction: column;
    gap: var(--space-section-title-content);
    position: relative;
}

.approachContentLast {
    font-size: var(--font-size-small);
    text-align: right;
}

@media screen and (max-width: 768px) {
    .approachSection {
        padding-top: calc(var(--vertical-space-section) / 2);
    }

    .approachContentLast {
        margin-top: -60px;
    }
}