.approachSection {
    background-color: var(--accent-color);
    padding-top: var(--vertical-space-section);
    padding-inline: var(--horizontal-padding-layout);
    display: flex;
    flex-direction: column;
    gap: var(--space-section-title-content);
    position: relative;
        transition: transform 3s ease-out; /* Adoucit les mouvements */

}

.approachContentLast {
    font-size: var(--font-size-small);
    text-align: right;
    margin-top: -200px;
}