.approachSection {
    background-color: var(--accent-color);
    padding-top: var(--vertical-space-section);
    padding-inline: var(--horizontal-padding-layout);
    display: flex;
    flex-direction: column;
    gap: var(--space-section-title-content);
}

.approachContent {
    padding-bottom: var(--vertical-space-section);
}

.approachContentLast {
    font-size: var(--font-size-small);
    text-align: right;
}