.button {
    font-family: 'Helvetica medium', sans-serif;
    display: inline-flex;
    align-items: center;
    padding: var(--padding-button);
    cursor: pointer;
    transition: background-color 0.1s ease;
    border: none;
    z-index: 1000;

    &::before {
        content: "";
        display: inline-block;
        width: 1.2em;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        background-color: var(--white-color);
        margin-right: 1rem;
    }
    
    &:focus {
        outline: 1px solid var(--black-color);
    }
    &:active {
        transform: scale(0.95);
    }
}

.primaryButton {
    background-color: var(--accent-color);
    color: var(--black-color);
    transition: ease-in-out 0.3s;

    &:hover {
        background-color: var(--black-color);
        color: var(--white-color);
    }
}

.secondaryButton {
    background-color: var(--black-color);
    color: var(--white-color);
    transition: ease-in-out 0.3s;

    &:hover {
        background-color: var(--accent-color);
        color: var(--black-color);
    }
}

.smallButton {
    font-size: var(--font-size-small);
}

.mediumButton {
    font-size: var(--font-size-medium);
}

.largeButton {
    font-size: var(--font-size-large);
}
