.heroSection {
    height: 80svh;
    padding-block: var(--vertical-space-section);
}

.heroContent {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-block: 4rem;
    padding-inline: var(--horizontal-padding-layout);
}

.heroTitle {
    font-size: var(--font-size-xlarge);
    font-family: "Helvetica light", sans-serif;
    line-height: var(--global-line-height);
    color: var(--primary-color);
}

.heroBackground {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Helvetica bold", sans-serif;
    font-size: clamp(5rem, 18vw, 30em);
    line-height: 0.9;
    color: var(--black-color);
    opacity: 0.03;
    user-select: none;
    pointer-events: none;
    z-index: -1;
}

.buttonContainer {
    padding-right: 8px;
}


@media screen and (max-width: 400px) {
    .heroBackground {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .heroContent {
        flex-direction: column;
        gap: 1rem;
    }
}
