.heroSection {
    height: 80svh;
    padding-block: var(--vertical-space-section);
}

.heroContent {
    display: flex;
    justify-content: space-between;
    align-items: end;
    position: relative;
    padding-block: 4rem;
    padding-inline: var(--horizontal-padding-layout);
}

.heroTitle {
    font-size: var(--font-size-xlarge);
    font-weight: 300;
    line-height: var(--global-line-height);
    color: var(--primary-color);
    letter-spacing: var(--letter-spacing);
}

.heroBackground {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    font-size: clamp(5rem, 18vw, 30em);
    line-height: 0.9;
    color: var(--black-color);
    opacity: 0.03;
    user-select: none;
    pointer-events: none;
    z-index: -1;
}

.buttonContainer {
    z-index: 1000;
}


@media screen and (max-width: 400px) {
    .heroBackground {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .heroContent {
        gap: 1rem;
    }

    .heroTitle {
        white-space: normal;
        word-break: break-word;
    }

    .buttonContainer {
        position: fixed;
        bottom: 1rem;
        right: 1rem;
    }
}
