.heroSection {
    padding-bottom: var(--vertical-space-section);
}

.heroContent {
    display: grid;
    grid-template-columns: 2fr 1fr;
    position: relative;
    padding-top: var(--horizontal-padding-layout);
    padding-inline: var(--horizontal-padding-layout);
}

.heroMedia {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
}

.heroTitle {
    font-size: var(--font-size-xlarge);
    font-weight: 300;
    line-height: var(--global-line-height);
    color: var(--primary-color);
    letter-spacing: var(--letter-spacing);
}

.heroImage {
    display: block;
    max-width: 45vw;
    width: 100%;
    height: auto;
    border: 1px solid var(--black-color);
    background: url();
}

.heroImage {
    display: block;
    width: 100%;
    height: auto;
    border: 1px solid var(--black-color);
}

.heroBackground {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 900;
    font-size: clamp(5rem, 18vw, 30rem);
    line-height: 0.9;
    letter-spacing: -0.5rem;
    color: var(--black-color);
    opacity: 0.06;
    user-select: none;
    pointer-events: none;
    z-index: -1;
}

.buttonContainer {
    z-index: 1000;
}

@media screen and (max-width: 400px) {
    .heroBackground {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .heroSection {
        padding-top: 1rem;
        padding-bottom: unset;
    }

    .heroContent {
        grid-template-columns: 1fr;
        gap: 3rem;
    }

    .heroImage {
        max-width: 80vw;
    }

    .heroTitle {
        white-space: normal;
        word-break: break-word;
    }

    .buttonContainer {
        position: fixed;
        bottom: 1rem;
        right: 1rem;
    }
}
