.logoSquare {
    display: grid;
    place-items: center;
    background-color: var(--black-color);
    aspect-ratio: 1 / 1;
}

.logoRound {
    width: 70%;
    border-radius: 50%;
    background-color: var(--white-color);
    aspect-ratio: 1 / 1;
}

.logoContainer {
    display: inline-flex;
    align-items: end;
    line-height: 0.72;
    z-index: 1000;
}

.logoText {
    font-weight: bold;
    color: var(--black-color);
}
