.backToTopButton {
    position: sticky;
    bottom: 1rem;
    left: 1rem;
    border: none;
    background-color: var(--white-color);
    color: var(--black-color);
    font-size: var(--font-size-medium);
    padding: var(--padding-button);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;

    &:hover {
        transform: translateY(0.25rem);
        background-color: var(--black-color);
        color: var(--white-color);
    }
}