.footer {
    background-color: var(--white-color);
    padding-inline: var(--horizontal-padding-layout);
    padding-top: calc(var(--vertical-space-section) / 2);
}

.nav {
    display: flex;
    flex-direction: column-reverse;
}

.navLinks {
    list-style: none;
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.navLinks li a {
    font-family: "Helvetica medium", sans-serif;
    font-size: var(--font-size-medium);
    letter-spacing: var(--letter-spacing);

    &:hover,
    &:focus {
        color: var(--white-color);
        transition: background-color 0.3s ease-in-out;
        background-color: var(--black-color);
    }
    &:active {
        transform: scale(0.95);
    }
}


.footerInfo {
    font-size: var(--font-size-small);
    display: flex;
    justify-self: flex-end;
}

.footerInfo a {
    font-weight: bold;
    text-decoration: underline;

    &:hover,
    &:focus {
        font-weight: unset;
    }
}

@media screen and (max-width: 768px) {
    .nav a:first-of-type {
        text-align: end;
    }
    
    .fullLogo {
        width: 100%;
    }
}