@font-face {
    font-family: "Helvetica light";
    src: url("src/lib/fonts/HelveticaNeue-Light.woff2") format("woff2");
}
@font-face {
    font-family: "Helvetica roman";
    src: url("src/lib/fonts/HelveticaNeue-Roman.woff2") format("woff2");
}
@font-face {
    font-family: "Helvetica medium";
    src: url("src/lib/fonts/HelveticaNeue-Medium.woff2") format("woff2");
}
@font-face {
    font-family: "Helvetica bold";
    src: url("src/lib/fonts/HelveticaNeue-Bold.woff2") format("woff2");
}

:root {
    --white-color: rgb(217, 217, 217);
    --black-color: rgb(20, 20, 20);
    --accent-color: rgb(255, 71, 20);

    --font-size-small: clamp(0.875rem, 1vw + 0.5rem, 1rem);
    --font-size-medium: clamp(1rem, 1vw + 0.5rem, 1.25rem);
    --font-size-large: clamp(1.8rem, 1vw + 0.5rem, 3rem);
    --font-size-xlarge: clamp(2.4rem, 5vw + 0.5rem, 6rem);

    --global-line-height: 1.2;

    /*  Spacing variables */
    --horizontal-padding-layout: 2rem;
    --vertical-space-section: clamp(10rem, 20vw, 24rem);
    --padding-button: 0.5rem 0.75rem;
    --space-section-title-content: clamp(
        1rem,
        4vw,
        2rem
    ); /* Space between section title and content */
    --letter-spacing: -0.06rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Helvetica medium", Arial, sans-serif;
    color: var(--black-color);
    background-color: var(--white-color);
}

a {
    text-decoration: none;
    color: inherit;
}

.main-content {
    position: relative;
}

.section-title {
    font-family: "Helvetica roman";
    font-size: var(--font-size-small);
}

.section-content {
    max-width: 1000px;
    padding-bottom: var(--vertical-space-section);
}

.section-content p {
    font-size: var(--font-size-large);
    line-height: var(--global-line-height);
    text-wrap: pretty;
    letter-spacing: var(--letter-spacing);
}

.centered-section-logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
}

.layered-animation {
    height: 100vh;
}