@font-face {
    font-family: "Helvetica roman";
    src: url("/fonts/HelveticaNeue-Roman.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "Helvetica medium";
    src: url("/fonts/HelveticaNeue-Medium.woff2") format("woff2");
    font-display: swap;
}

:root {
    --white-color: rgb(235, 235, 235);
    --black-color: rgb(20, 20, 20);
    --accent-color: rgb(255, 71, 20);

    --font-size-small: clamp(0.875rem, 1vw + 0.5rem, 1rem);
    --font-size-medium: clamp(1rem, 1vw + 0.5rem, 1.25rem);
    --font-size-large: clamp(1.6rem, 2.5vw + 0.5rem, 2.4rem);
    --font-size-xlarge: clamp(4rem, 6vw + 1rem, 6rem);

    /*  Spacing variables */
    --horizontal-padding-layout: clamp(1rem, 2vw, 2rem);
    --vertical-space-section: clamp(10rem, 20vw, 24rem);
    --padding-button: 0.5rem 0.75rem;
    --space-section-title-content: clamp(1rem, 4vw, 2rem); /* Space between section title and content */

    --letter-spacing: -0.05rem;
    --global-line-height: 1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica roman", "Inter", "Roboto", sans-serif;
    color: var(--black-color);
    overflow-x: hidden;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
    background: repeating-linear-gradient(
        to right,
        var(--white-color),
        var(--white-color) calc(25% - 0.5px),
        rgba(0, 0, 0, 0.15) calc(25% - 0.5px),
        rgba(0, 0, 0, 0.15) calc(25% + 0.5px),
        var(--white-color) calc(25% + 0.5px)
    );
}

a {
    text-decoration: none;
    color: inherit;
}

.main-content {
    position: relative;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.section-title {
    font-family: "Helvetica roman";
    font-size: var(--font-size-small);
}

.section-content {
    max-width: 1000px;
}

.section-content p {
    font-size: var(--font-size-large);
    line-height: var(--global-line-height);
    text-wrap: pretty;
    letter-spacing: var(--letter-spacing);
}

.centered-section-logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
}

/** animation rules */
.layered-animation {
    height: 300vh;
}

[data-reveal],
[data-reveal-up],
[data-word-reveal],
.split {
    will-change: transform, opacity;
}

@media screen and (max-width: 768px) {
    .section-content {
        padding-bottom: calc(var(--vertical-space-section) / 2);
    }

    .layered-animation {
        height: 300vh;
    }
}
