@font-face {
  font-family: 'Helvetica light';
  src: url('src/fonts/HelveticaNeueLight.woff2') format('woff2');
}
@font-face {
  font-family: 'Helvetica roman';
  src: url('src/fonts/HelveticaNeueRoman.woff2') format('woff2');
}
@font-face {
  font-family: 'Helvetica medium';
  src: url('src/fonts/HelveticaNeueMedium.woff2') format('woff2');
}
@font-face {
  font-family: 'Helvetica bold';
  src: url('src/fonts/HelveticaNeueBold.woff2') format('woff2');
}
@font-face {
  font-family: 'Helvetica heavy';
  src: url('src/fonts/HelveticaNeueHeavy.woff2') format('woff2');
}
@font-face {
  font-family: 'Helvetica black';
  src: url('src/fonts/HelveticaNeueBlack.woff2') format('woff2');
}

:root {
  --white-color: rgb(217, 217, 217);
  --black-color: rgb(20, 20, 20);
  --accent-color: rgb(255, 71, 20);
}

body {
  font-family: 'Helvetica medium', sans-serif;
  color: var(--black-color);
  background-color: var(--white-color);
}

