.projectsSection {
    background-color: var(--white-color);
    padding-inline: var(--horizontal-padding-layout);
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    /* gap: 4rem; */
    overflow: hidden;
    min-height: 100vh;
}

.projectsWrapper {
    display: flex;
    justify-content: space-between;
}

.projectIdDisplay {
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    user-select: none;
}

.projectNumber {
    font-size: clamp(30rem, 34vw, 38rem);
    font-weight: bold;
    color: var(--black-color);
    opacity: 0.03;
}


.projectList {
    list-style: none;
    position: relative;
    height: 70vh;
    width: calc(50% + 1.25rem);
}

/* project list that contains all project items */
.projectList > li {
    position: absolute;
    inset: 0; 
}

.projectItem {
    background-color: var(--white-color);
    border: 1px solid var(--black-color);
    display: flex;
    height: 100%;
}

.projectHeader {
    position: relative;
    background-color: var(--black-color);
    border-right: 1px solid var(--white-color);
    color: var(--white-color);
    display: flex;
}

.projectHeader h3 {
    writing-mode: vertical-rl; /* make text vertical */
    transform: rotate(180deg); /* reverse direction of text */
    white-space: nowrap;
    padding: 0.5rem;
    font-weight: 100;
}

.projectHeader h3:before {
    content: "";
    display: inline-flex;
    width: 1.5rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--white-color);
    margin-bottom: 1rem;
}

.githubIcon {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 1.5rem;
    aspect-ratio: 1;

    animation: flash 3s infinite;
}

@keyframes flash {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
} 

.projectContent {
    background-color: var(--black-color);
    border-right: 1px solid var(--white-color);
    color: var(--white-color);
    padding: 1rem;
    display: flex;
    flex-direction: column-reverse;
    flex: 1 1 auto;
    gap: 0.5rem;
}

.tagList {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-self: end;
}

.tag {
    background-color: var(--white-color);
    color: var(--black-color);
    padding: 0.25rem 0.5rem;
    font-size: var(--font-size-small);
}

@media (max-width: 1024px) {
    .projectIdDisplay {
        position: relative;
        left: auto;
        width: 100%;
        height: auto;
    }
    
    .projectNumber {
        font-size: 3rem;
        opacity: 0.2;
    }
    
    .projectList {
        width: 100%;
        margin: 0 auto;
    }
}